__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
venv/
env/
ENV/
.venv

# Airflow, log,
airflow-webserver.pid
airflow.db
airflow.cfg
webserver_config.py
logs/
airflow_logs/
*.log

# dbt (yang generated)
dbt_nyc_taxi/target/
dbt_nyc_taxi/logs/
dbt_nyc_taxi/dbt_packages/
dbt_nyc_taxi/.user.yml
target/
logs/dbt.log

# database & source/data (tergenerasi)
*.duckdb
*.duckdb.wal
data/dwib.duckdb

data/raw/*.parquet
data/raw/*.csv
data/processed/
data/staging/

# ide
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store


.dockerignore

.env
.env.local
*.pid

# catatan pribadi
catatan.md
dags/catatan.md
